@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom colours for swipers (image slideshows) on Projects page */
.swiper-custom .swiper-pagination-bullte {
  background-color: red !important;
  margin: 0.5rem;
}

.swiper-button-next {
  padding: 100px 20px 100px 40px;
  top: 60%;
  transform: translateY(-40%);
}

.swiper-button-prev {
  padding: 100px 40px 100px 20px;
  top: 60%;
  transform: translateY(-40%);
}